@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
  font-family: "Single Day", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgba(114, 219, 115, 1);
}




.image-container{
  position: relative;
  width: 50%;
}

.image{
  max-height: 100%;
  min-width: 100%;
}



.quote-text {
  position: absolute;
  top: 60%; 
  left: 40%;
  transform: translate(-60%, -50%);  
  color: white; 
  font-size: 48px;
  text-align: start;
  font-weight: 600;
  padding: 5px;
  background-color: transparent; 
}

.next-btn{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 8px;
  width: auto;
}

.newsImage{
  min-height: 500px;
  min-width: 100%;
}

.imageContainer{
  position: relative;
}

.newstitle{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.74);
  opacity: 0.9;
}

.avatarImg{
  height: 247px;
  width: 109px;
}